<div class="container">
  <div id="menu" class="margin-top-30">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="#">Ingreso Vehículos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/retiro-parqueo/load">Vehículos Retirados</a>
      </li>
    </ul>
  </div>

  <div class="row margin-top-30">
    <div class="card width-100" style="width: 100% !important;">
      <div class="card-body">
        <label class="strong">Ingresar un Nuevo Vehículo</label>
        <div class="input-group mb-3">
        <input type="text" class="form-control" maxlength="50" name="registroParqueoDto.placa" placeholder="Placa"
          aria-label="Placa" aria-describedby="button-addon2" required ngModel>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" maxlength="50" name="registroParqueoDto.cilindraje"
            placeholder="Cilindraje" aria-label="Cilindraje" aria-describedby="button-addon2" required ngModel>
        </div>
        <div class="input-group mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="registroParqueoDto.tipoVehiculo" type="radio"
              id="carro" value="1" ngModel>
            <label class="form-check-label" for="carro">Carro</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="registroParqueoDto.tipoVehiculo" type="radio"
              id="moto" value="2" ngModel>
            <label class="form-check-label" for="moto">Moto</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <button (click)="ingresar()" class="btn btn-sm btn-info">Ingresar</button>
        </div>
      </div>
    </div>

    <div id="text-error" class="alert alert-danger" role="alert" *ngIf="textError !== '' ">{{textError}}</div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="textRetirar !== '' ">
      <strong>{{textRetirar}}</strong>
    </div>

  </div>

</div>

<router-outlet></router-outlet>